* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
	font-family: "Arial", sans-serif;
	line-height: 1.6;
	background-color: #f4f4f4;
	color: #333;
}
header {
	background: #000000;
	padding: 15px 30px;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar .logo a {
  text-decoration: none;
  color: #fff;           
  font-size: 1.5rem;      
  font-weight: bold;
  line-height: 10px;
}

.navbar .menu{
	margin-top: 10px;
	justify-content: right;
	list-style: none;
	display: flex;
	margin-left: auto;
}

.navbar .menu li{
	margin-right: 20px;
}

.navbar .menu a{
	text-decoration: none;
	color: #fff;
	transition: color 0.3s ease;
}

.navabar .menu a:hover{
	color: #808080;
}

.hero{
	background:#ffffff;
	height: 90vh;
	display: flex;
	align-items: top;
	justify-content: left;
	text-align: left;
	color: #f6f6f6;
}

.hero-content h1{
	font-size: 4rem;
	font-weight: bold;
	margin-top: 50px;
	margin-left: 30px;
	color: black;
}

.hero-content h3{
	font-family: "Montserrat", sans-serif;
	font-size: 2.5rem;
	font-weight: bold;
	margin-top: 1px;
	margin-left: 10px;
	color: black;
}

.hero-content p{
	font-family: "Montserrat" , sans-serif;
	font-size: 1.5rem;
	font-weight: medium;
	margin-left: 220px;
	line-height: 28px;
	color: black;
	letter-spacing: 1.5px;
	text-align: center;
	justify-content: center;
	align-items: center;
}
.hero-content h2{
	display: flex;
	justify-content: center;  
	align-items: center;              
	margin-left: 200px;
	margin-top: 20px;
	color: black;
	font-family: "Montserrat" , sans-serif;
	font-size: 1rem;
	font-weight: bold;
}

.footer-logo {
	justify-content: center;
	align-items: center;
	margin-top: 40px;
	margin-left: 250px;
	width: 1000px;   
	height: auto;   
}

footer{
	position: fixed;         
	bottom: 0;                
	left: 0;                 
	width: 100%;              
	background-color: black;  
	color: white;            
	text-align: left;       
	padding: 10px 20px;       
	font-size: 1.1em;        
	z-index: 1000;          
}

.team-section img {
  display: inline-block;
  width: 900px;
  height: auto;
  margin: 20px;
  margin-left: 280px;
}